
@font-face {
  font-family: 'nevis-Bold';
  src: url('nevis-Bold.eot?#iefix') format('embedded-opentype'),  url('nevis-Bold.woff') format('woff'), url('nevis-Bold.ttf')  format('truetype'), url('nevis-Bold.svg#nevis-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
